



*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

/*
 *
 * General Rule
 *
 */

 section {min-height: 100vh;
 }


/*
 *
 * Sections
 * 
 */
section#bio {
	background-color: #0fb784;
	[position: relative;]
}

section#bio,
section#bio a {
	color: #fff;
}

section#bio > img {
	border-radius: 50%;
	width: 200px;
	border: 5px solid grey;
	padding: 2px
}

section#bio > h1,
section#bio > ul {font-family: 'Luckiest Guy', cursive;	
}

section#bio > div#details	> ul {
	list-style: none;
	font-size: 25px;
}

div#details	{
	/*border: 1px solid #fff;*/
	width: 50%;
	text-align: center;
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);


}


 section#projects {background-color: #cbffcd;
 }

 section#skillset {background-color: #9bffa4;
 }

 section#contact {background-color: #cbffcd;
 position:relative;
 }

section#projects > h2,
section#skillset > h2,
section#contact > h2 {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px; 
	text-transform: uppercase;
	letter-spacing: 2px;
}


 body {
 	background-color: skyblue;
	font-family: 'Bangers', cursive;
 	 }


/*
 *
 * Footer
 *
 */

 footer {
 	padding-top: 15px;
 	padding-bottom: 15px;
 	text-align: center;
 	background-color: black;
 	color: lightgrey;
 	position: absolute;
 	bottom: 0;
 	width: 100%;
  }


footer a {
color: lightgrey;
}

